 <div class="border-top border-bottom p-2  d-flex flex-column justify-content-between align-items-start">
                    <div class="my-2 d-flex flex-row  align-items-center">
                        <h6 class="text-bold d-inline">Projects </h6>
                        {{#if data.current_space }} 
                        <a href="/project/form?space_id={{data.current_space._id}}" class="m-2 p-1">+ New </a>     
                    </div>
  
                        {{#each data.projects }}
                        <div class="d-flex ">
                            <a href="/dashboard/?project_id={{this._id}}&space_id={{this.workspace}}" class="button m-1 {{#ifeq this._id @root.current_project_id}} active{{/ifeq}}">{{this.name}}</a>
                            <a class="button m-1  p-1" href="#" id="projectDropdown{{this._id}}"   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <ul class="dropdown-menu p-2 text-center " aria-labelledby="projectDropdown{{this._id}}" style="">                                              
                                <li class="list-group-item d-flex flex-column justify-content-between px-2 py-1{{#ifeq this._id @root.current_project_id}} active{{/ifeq}}" >
                                {{#if this.canEdit}}
                                    <a href="/project/form?_id={{this._id}}" class="button m-1">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    {{/if}}
                                    {{#if this.canDelete}}
                                    <a href="/project/delete?_id={{this._id}}" class="button m-1"><i class="fas fa-times text-danger"></i></a>
                                    {{/if}}
                                    <a href="/task/form?space_id={{this.workspace}}&project_id={{this._id}}" class="button m-1"><i class="fas fa-plus"> Task</i></a>
                                </li>
                            </ul>
                        </div>
                        {{/each}}
                    {{/if}}
                   
</div>