    <div class="border-top border-bottom p-2  d-flex flex-wrap justify-content-between align-items-center">
                    <h6 class="text-bold">Tasks </h6>
                    {{#if data.current_project }}
                   
                            <a href="/task/form?space_id={{data.current_project.workspace}}&project_id={{data.current_project._id}}" class=" button p-1"><i class="fas fa-plus"> Task</i></a>
                        <ul class="list-group" >
                        {{#each data.tasks }}
                        <li class="list-group-item d-flex justify-content-between px-2 py-1" >
                            <a href="/dashboard/?project_id={{this.project}}&space_id={{this.workspace}}&task_id={{this._id}}" class="button m-1">{{this.name}}</a>
                            <a href="/task/form?_id={{this._id}}" class="button m-1">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="/task/delete?_id={{this._id}}" class="button m-1"><i class="fas fa-times text-danger"></i></a>
                        </li>
                        {{/each}}
                        </ul>
                    {{/if}}
                   
                </div>